<div id="#segmentation"></div>
    <li class="tag-head">
        <a href="{{ site.baseurl }}/paperreview/categories/segmentation">segmentation</a>
    </li>
    <a name="segmentation"></a>

<div id="#classification"></div>
    <li class="tag-head">
        <a href="{{ site.baseurl }}/paperreview/categories/classification">classification</a>
    </li>
    <a name="classification"></a>

<div id="#detection"></div>
    <li class="tag-head">
        <a href="{{ site.baseurl }}/paperreview/categories/detection">detection</a>
    </li>
    <a name="detection"></a>
