---
layout: default
---

<div class="row justify-content-center" id="blog-post-container">
  <div class="col-lg-10">
    {%- include blog_post_article.html -%}
     {%- include blog_post_comments.html-%}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header" style="font-size: 30px; white-space:nowrap; margin-right: 10px;">About<div style="font-size: large; font-weight: bold;"> {{site.author}}</div></div>
      <div class="card-body">
        <p class="author_bio">{{ site.author_bio }}</p>
        {%- include github_star_button.html -%}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header" style="font-size: 30px; white-space:nowrap; margin-right: 10px;">Categories</div>
      {% assign categories = page.categories %} {% assign category = categories[0] %} 
      {% if category == 'segmentation' or category == 'classification' or category == 'detection' %}
      <div class="card-body text-dark">
        {%- include blog_categories.html -%}
      </div>
      {% else %}
      <div class="card-body text-dark">
        {%- include code_categories.html -%}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header" style="font-size: 30px; white-space:nowrap; margin-right: 10px;">Useful Links</div>
      <div class="card-body text-dark">
        {% for i in site.urls %}
        <li>
          <a href="{{ site.url}}{{site.baseurl}}{{ i.url }}">{{ i.text }}</a>
        </li>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

